<!-- Show all movies page -->
<br></br>
<a href="/"><h1>Movies Index Page</h1></a>
<div>
  <a href='/movies/add'><button type="button" class="btn btn-primary btn-lg btn">Add New Movie</button></a>
</div>
<table class="table table-striped well">
  <thead>
    <th>Title</th>
    <th>Director</th>
    <th>Year</th>
    <th>My Rating</th>
  </tr>
</thead>
<tbody>
  {{#each movies}}
  <tr>
    <td><a href="/movies/{{id}}">{{title}}</a></td>
    <td>{{director}}</td>
    <td>{{year}}</td>
    <td>{{my_rating}}</td>
  </tr>
  {{/each}}
</tbody>
</table>
