<div display='inline-block' class="back-to-movies-link col-md-offset-10">
  <a href="/movies" >GO BACK</a>
</div>

<div class='container col-md-offset-3'>
  <h1>{{title}}</h1>
  <img src="{{poster_url}}" height='500px' alt="">
  <h3>Director: {{director}}</h3>
  <h3>Year: {{year}}</h3>
  <h4>Rating: {{my_rating}}</h4>
</div>
