<!-- Show a single movie -->
<br></br>
<div display='inline-block' class="back-to-movies-link col-md-offset-10">
  <a href="/movies" >GO BACK</a>
</div>

<div class='container col-md-offset-3'>
  <h1>{{movie.title}}</h1>
  <img src="{{movie.poster_url}}" height='500px' alt="">
  <h3>Director: {{movie.director}}</h3>
  <h3>Year: {{movie.year}}</h3>
  <h4>Rating: {{movie.my_rating}}</h4>
  <a href="/movies/{{movie.id}}/edit" type="button" name="button" class="btn btn-success">Edit</a>
  <form class="delete" action="/movies/{{movie.id}}?_method=DELETE" method="POST">
    <input type="submit" name="delete" value="Delete Movie">
  </form>
</div>
